*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

a{
    text-decoration:none;
    color:white;
}

.container{
    width:90%;
    margin:auto;
}

button{
    cursor:pointer;
    border:none;
}